<div class="phone-frame">
    <div class="phone">
        <div class="notouch">
            <div class="spkr"></div>
            <div class="camera"></div>
        </div>
        <div class="contact-pad">
            <div class="number">
                <h6>Phone</h6>
                <h2>+977 1-5907025</h2>
            </div>
            <img src="../../../../assets/Screenshot 2024-07-21 153144.png" alt="">
            <a class="call-btn" href="tel:+977 1-5907025"></a>
        </div>
    </div>
</div>