<div class="contact-page-section">
    <app-common-banner [title]="contactPageTitle" [content]="contactPageContent" ></app-common-banner>
    <div class="contact-container common-padding2 common-top-bottom-pd">

        <div class="main-contact">

            <div class="contact">
                <div class="title">
                    <h4 class="head1">Get in Touch</h4>
                    <p class="sub-head">Feel free to reach out through any of the following channels, and we’ll respond to your inquiries within 24-48 hours:</p>
                </div>

                <div class="detail">
                    <h5>Email:</h5>
                    <p><a href="mailto:teamnirekha@gmail.com">teamnirekha&#64;gmail.com</a></p>
                </div>

                <div class="detail">
                    <h5>Address:</h5>
                    <p><a href="https://maps.app.goo.gl/Z7pMaurxviLcj8Dp8" target="_blank">Kausaltar, Bhaktapur</a></p>
                </div>

                <div class="detail">
                    <h5>Phone:</h5>
                    <p><a href="tel:+977 1-5907025">+977 1-5907025</a></p>
                    <p><a href="tel:+977-9851035351">+977-9851035351</a></p>
                </div>
            </div>
            <app-phone-frame></app-phone-frame>

        </div>
    </div>
</div>