<div class="footer-section">
    <div class="footer-container common-padding">
        <div class="form">

            <div class="common-title type2 ttl-c">
                <h2 class="head1">Get in Touch</h2>
                <h5 class="sub-head">Our team will reach out soon:</h5>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput"> Your Email address</label>
            </div>
            <div class="form-floating">
                <input type="tel" class="form-control" id="floatingContact"
                    placeholder="Your Contact No.">
                <label for="floatingContact">Your Contact No.</label>
            </div>
        </div>
        <div class="details">
            <h5 class="ttl">Have a question? Email us at</h5>
            <h5 class="sub"><a href="">hemp&#64;gmail.com</a></h5>

            <h5 class="ttl has-top-mg">or call us directly</h5>
            <h5 class="sub"><a href>98989898##</a></h5>

            <p class="copy">© 2024. Designed and developed by <a href="mailto:far00queapril17@gmail.com" target="_blank"> Farooque
                    Alam.</a> All Rights Reserved.</p>
        </div>
    </div>
</div>